.register-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.register-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form {
  display: flex;
  flex-direction: column;
  gap: 15px;   /* ✅ spacing */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
}

.register-title {
  text-align: center;
}

.register-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.register-input label {
  font-weight: bold;
}

.register-input input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-button,
.register-google {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}

.register-button {
  background: #f7c642;
  color: white;
}

.register-button:hover {
  background: #d49c0f;
}

.register-google:hover {
  background: #2b0c98;
}

.register-google {
  background: #4285F4;
  color: white;
}

.register-button {
  display: block;
}
.register-form button {
  position: static !important;
}