

.todo-page{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}

.todo-container {
  flex: 1;
  display: flex;
flex-direction: column;
 margin-top: 80px;
  align-items: center;
}

.todo-card {
  background: #fff;
  padding: 25px;
  width: 500px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}


.todo-heading{
  display :flex;
  flex-direction: column;

}
.todo-heading p{
 align-self: flex-end;
 
}

.p{
 display: flex;
 justify-content: end;
 margin-bottom: 15px;
}

.pp{
 padding:10px;
background: #fffbeb; color: #d97706;
border-radius: 20px;
}

.todo-title
{
  text-align: center;
  margin-bottom: 15px;
  
}

.todo-card {
  transition: 0.2s;
}

.todo-card:hover {
  transform: translateY(-3px);
}